In [1]:

import numpy as np
import pandas as pd
from tqdm import tqdm
import gc
import os
from glob import glob
from multiprocessing import Pool
nthread = 16
from time import time
#from collections import defaultdict
import utils

In [2]:
trte = utils.read_pickles('../data/train', ['ip', 'app', 'device', 'os', 'channel', 'click_time'])

gc.collect()

100%|██████████| 10/10 [00:18<00:00,  1.80s/it]

29

In [5]:
count_keys = ('ip',)

In [12]:
st = time()


gc.collect()
print(count_keys)
count_keys = list(count_keys)

count_keys_ = '-'.join(count_keys)
keys = count_keys+['click_time']

df = trte.sort_values(keys)
df['prekey_match']  = ( df[count_keys]==df[count_keys].shift() ).all(1)*1
df['nextkey_match'] = ( df[count_keys]==df[count_keys].shift(-1) ).all(1)*1
gc.collect()

print(f'done {time()-st}')

['ip']
done 237.24336671829224

In [13]:
df

,ip,app,device,os,channel,click_time,prekey_match,nextkey_match
124211656,1,2,1,15,477,2017-11-08 17:25:31,0,1
124213049,1,12,1,15,265,2017-11-08 17:25:35,1,1
124213379,1,64,1,15,459,2017-11-08 17:25:36,1,1
124213380,1,6,1,15,459,2017-11-08 17:25:36,1,1
124679987,1,2,1,2,477,2017-11-08 17:47:39,1,1
126054437,1,13,1,28,469,2017-11-08 19:37:16,1,1
126241315,1,2,1,6,477,2017-11-08 19:59:36,1,1
126290289,1,2,1,49,477,2017-11-08 20:05:42,1,1
126312169,1,2,1,2,477,2017-11-08 20:08:39,1,1
126325989,1,2,1,2,477,2017-11-08 20:10:32,1,1
126454689,1,13,1,6,469,2017-11-08 20:27:46,1,1
127289873,1,2,1,2,477,2017-11-08 22:03:35,1,1
127564678,1,13,1,3,469,2017-11-08 22:20:54,1,1
127579403,1,12,1,3,178,2017-11-08 22:21:42,1,1
127579635,1,9,1,3,134,2017-11-08 22:21:43,1,1
129745219,1,12,1,10,178,2017-11-08 23:34:54,1,1
129745417,1,9,1,10,134,2017-11-08 23:34:54,1,1
136368427,1,10,1,47,113,2017-11-09 01:43:08,1,1
136457399,1,10,1,43,113,2017-11-09 01:44:53,1,1
140404292,1,2,1,9,477,2017-11-09 03:01:50,1,1
140406410,1,8,1,9,259,2017-11-09 03:01:53,1,1
140406720,1,9,1,9,322,2017-11-09 03:01:53,1,1
140407399,1,9,1,9,258,2017-11-09 03:01:54,1,1
140407636,1,1,1,9,125,2017-11-09 03:01:54,1,1
140412175,1,2,1,2,477,2017-11-09 03:01:59,1,1
165721946,1,7,1,52,101,2017-11-09 10:34:25,1,1
165722207,1,2,1,52,477,2017-11-09 10:34:25,1,1
165722214,1,7,1,52,101,2017-11-09 10:34:25,1,1
165722220,1,3,1,52,182,2017-11-09 10:34:25,1,1
165723223,1,4,1,52,101,2017-11-09 10:34:26,1,1
...,...,...,...,...,...,...,...,...
183253679,364776,2,2,58,237,2017-11-09 15:49:52,1,1
183253798,364776,14,2,58,356,2017-11-09 15:49:52,1,1
183253803,364776,12,2,58,259,2017-11-09 15:49:52,1,1
183253856,364776,1,2,58,120,2017-11-09 15:49:52,1,1
183253864,364776,7,2,58,101,2017-11-09 15:49:52,1,1
183253865,364776,160,2,58,457,2017-11-09 15:49:52,1,1
183255221,364776,11,2,58,137,2017-11-09 15:49:54,1,1
183257877,364776,6,2,58,101,2017-11-09 15:49:57,1,1
183260084,364776,17,2,58,280,2017-11-09 15:50:00,1,0
135000129,364777,3,1,19,280,2017-11-09 01:15:49,0,1
175213455,364777,19,0,21,213,2017-11-09 13:24:38,1,1
175213836,364777,19,0,21,213,2017-11-09 13:24:39,1,1
175367697,364777,19,0,21,213,2017-11-09 13:27:26,1,1
175368491,364777,19,0,21,213,2017-11-09 13:27:27,1,0
158104197,364778,29,1,18,101,2017-11-09 08:00:33,0,1
178889440,364778,15,1,13,412,2017-11-09 14:27:41,1,1
178889459,364778,14,1,13,401,2017-11-09 14:27:41,1,1
178889614,364778,2,1,13,377,2017-11-09 14:27:41,1,1
178892657,364778,18,1,13,30,2017-11-09 14:27:44,1,1
178893584,364778,13,1,13,477,2017-11-09 14:27:45,1,1
178898585,364778,1,1,13,17,2017-11-09 14:27:50,1,1
178901547,364778,12,1,13,205,2017-11-09 14:27:53,1,1
178902158,364778,93,1,13,371,2017-11-09 14:27:54,1,1
178902721,364778,56,1,13,406,2017-11-09 14:27:54,1,1
178907790,364778,26,1,13,477,2017-11-09 14:27:59,1,1
178910239,364778,94,1,13,361,2017-11-09 14:28:02,1,1
178924144,364778,3,1,13,489,2017-11-09 14:28:16,1,1
178935894,364778,23,1,13,30,2017-11-09 14:28:28,1,1
178940780,364778,18,1,13,134,2017-11-09 14:28:34,1,1
178946759,364778,22,1,13,116,2017-11-09 14:28:40,1,0

In [14]:
st = time()

col = []
c = 'preApp_'+count_keys_
col.append(c)
df[c] = df.app.shift()
df.loc[df.prekey_match==0, c] = -1

c = 'nextApp_'+count_keys_
col.append(c)
df[c] = df.app.shift(-1)
df.loc[df.nextkey_match==0, c] = -1
gc.collect()

print(f'done {time()-st}')

done 26.455004930496216

In [15]:
df

,ip,app,device,os,channel,click_time,prekey_match,nextkey_match,preApp_ip,nextApp_ip
124211656,1,2,1,15,477,2017-11-08 17:25:31,0,1,-1.0,12.0
124213049,1,12,1,15,265,2017-11-08 17:25:35,1,1,2.0,64.0
124213379,1,64,1,15,459,2017-11-08 17:25:36,1,1,12.0,6.0
124213380,1,6,1,15,459,2017-11-08 17:25:36,1,1,64.0,2.0
124679987,1,2,1,2,477,2017-11-08 17:47:39,1,1,6.0,13.0
126054437,1,13,1,28,469,2017-11-08 19:37:16,1,1,2.0,2.0
126241315,1,2,1,6,477,2017-11-08 19:59:36,1,1,13.0,2.0
126290289,1,2,1,49,477,2017-11-08 20:05:42,1,1,2.0,2.0
126312169,1,2,1,2,477,2017-11-08 20:08:39,1,1,2.0,2.0
126325989,1,2,1,2,477,2017-11-08 20:10:32,1,1,2.0,13.0
126454689,1,13,1,6,469,2017-11-08 20:27:46,1,1,2.0,2.0
127289873,1,2,1,2,477,2017-11-08 22:03:35,1,1,13.0,13.0
127564678,1,13,1,3,469,2017-11-08 22:20:54,1,1,2.0,12.0
127579403,1,12,1,3,178,2017-11-08 22:21:42,1,1,13.0,9.0
127579635,1,9,1,3,134,2017-11-08 22:21:43,1,1,12.0,12.0
129745219,1,12,1,10,178,2017-11-08 23:34:54,1,1,9.0,9.0
129745417,1,9,1,10,134,2017-11-08 23:34:54,1,1,12.0,10.0
136368427,1,10,1,47,113,2017-11-09 01:43:08,1,1,9.0,10.0
136457399,1,10,1,43,113,2017-11-09 01:44:53,1,1,10.0,2.0
140404292,1,2,1,9,477,2017-11-09 03:01:50,1,1,10.0,8.0
140406410,1,8,1,9,259,2017-11-09 03:01:53,1,1,2.0,9.0
140406720,1,9,1,9,322,2017-11-09 03:01:53,1,1,8.0,9.0
140407399,1,9,1,9,258,2017-11-09 03:01:54,1,1,9.0,1.0
140407636,1,1,1,9,125,2017-11-09 03:01:54,1,1,9.0,2.0
140412175,1,2,1,2,477,2017-11-09 03:01:59,1,1,1.0,7.0
165721946,1,7,1,52,101,2017-11-09 10:34:25,1,1,2.0,2.0
165722207,1,2,1,52,477,2017-11-09 10:34:25,1,1,7.0,7.0
165722214,1,7,1,52,101,2017-11-09 10:34:25,1,1,2.0,3.0
165722220,1,3,1,52,182,2017-11-09 10:34:25,1,1,7.0,4.0
165723223,1,4,1,52,101,2017-11-09 10:34:26,1,1,3.0,1.0
...,...,...,...,...,...,...,...,...,...,...
183253679,364776,2,2,58,237,2017-11-09 15:49:52,1,1,15.0,14.0
183253798,364776,14,2,58,356,2017-11-09 15:49:52,1,1,2.0,12.0
183253803,364776,12,2,58,259,2017-11-09 15:49:52,1,1,14.0,1.0
183253856,364776,1,2,58,120,2017-11-09 15:49:52,1,1,12.0,7.0
183253864,364776,7,2,58,101,2017-11-09 15:49:52,1,1,1.0,160.0
183253865,364776,160,2,58,457,2017-11-09 15:49:52,1,1,7.0,11.0
183255221,364776,11,2,58,137,2017-11-09 15:49:54,1,1,160.0,6.0
183257877,364776,6,2,58,101,2017-11-09 15:49:57,1,1,11.0,17.0
183260084,364776,17,2,58,280,2017-11-09 15:50:00,1,0,6.0,-1.0
135000129,364777,3,1,19,280,2017-11-09 01:15:49,0,1,-1.0,19.0
175213455,364777,19,0,21,213,2017-11-09 13:24:38,1,1,3.0,19.0
175213836,364777,19,0,21,213,2017-11-09 13:24:39,1,1,19.0,19.0
175367697,364777,19,0,21,213,2017-11-09 13:27:26,1,1,19.0,19.0
175368491,364777,19,0,21,213,2017-11-09 13:27:27,1,0,19.0,-1.0
158104197,364778,29,1,18,101,2017-11-09 08:00:33,0,1,-1.0,15.0
178889440,364778,15,1,13,412,2017-11-09 14:27:41,1,1,29.0,14.0
178889459,364778,14,1,13,401,2017-11-09 14:27:41,1,1,15.0,2.0
178889614,364778,2,1,13,377,2017-11-09 14:27:41,1,1,14.0,18.0
178892657,364778,18,1,13,30,2017-11-09 14:27:44,1,1,2.0,13.0
178893584,364778,13,1,13,477,2017-11-09 14:27:45,1,1,18.0,1.0
178898585,364778,1,1,13,17,2017-11-09 14:27:50,1,1,13.0,12.0
178901547,364778,12,1,13,205,2017-11-09 14:27:53,1,1,1.0,93.0
178902158,364778,93,1,13,371,2017-11-09 14:27:54,1,1,12.0,56.0
178902721,364778,56,1,13,406,2017-11-09 14:27:54,1,1,93.0,26.0
178907790,364778,26,1,13,477,2017-11-09 14:27:59,1,1,56.0,94.0
178910239,364778,94,1,13,361,2017-11-09 14:28:02,1,1,26.0,3.0
178924144,364778,3,1,13,489,2017-11-09 14:28:16,1,1,94.0,23.0
178935894,364778,23,1,13,30,2017-11-09 14:28:28,1,1,3.0,18.0
178940780,364778,18,1,13,134,2017-11-09 14:28:34,1,1,23.0,22.0
178946759,364778,22,1,13,116,2017-11-09 14:28:40,1,0,18.0,-1.0