In [1]:
import pandas as pd
from glob import glob
import utils

In [2]:
glob('../input/*')

['../input/test.csv.zip',
 '../input/sample_submission.csv.zip',
 '../input/train.csv.zip',
 '../input/train_sample.csv.zip']

In [3]:
train = utils.read_pickles('../data/train').sort_values('click_time')
test = utils.read_pickles('../data/test').sort_values('click_time')

100%|██████████| 10/10 [00:59<00:00,  5.93s/it]
100%|██████████| 10/10 [00:06<00:00,  1.52it/s]

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184903890 entries, 0 to 184903889
Data columns (total 8 columns):
ip                 uint32
app                uint16
device             uint16
os                 uint16
channel            uint16
click_time         datetime64[ns]
attributed_time    datetime64[ns]
is_attributed      uint8
dtypes: datetime64[ns](2), uint16(4), uint32(1), uint8(1)
memory usage: 6.4 GB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18790469 entries, 0 to 18790459
Data columns (total 7 columns):
click_id      int64
ip            uint32
app           uint16
device        uint16
os            uint16
channel       uint16
click_time    datetime64[ns]
dtypes: datetime64[ns](1), int64(1), uint16(4), uint32(1)
memory usage: 645.1 MB

# IP

In [6]:
train.ip.unique().shape, test.ip.unique().shape

((277396,), (93936,))

# app

In [7]:
train.app.unique().shape, test.app.unique().shape

((706,), (417,))

# device

In [8]:
train.device.unique().shape, test.device.unique().shape

((3475,), (1985,))

# os

In [9]:
train.os.unique().shape, test.os.unique().shape

((800,), (395,))

# channel

In [10]:
train.channel.unique().shape, test.channel.unique().shape

((202,), (178,))

# click_time

In [11]:
train.click_time.min(), train.click_time.max(), test.click_time.min(), test.click_time.max()

(Timestamp('2017-11-06 14:32:21'),
 Timestamp('2017-11-09 16:00:00'),
 Timestamp('2017-11-10 04:00:00'),
 Timestamp('2017-11-10 15:00:00'))

# all test values in train?

In [18]:
c = 'ip'
print( test[~test[c].isin(train[c].unique())].shape )
test[~test[c].isin(train[c].unique())][c].value_counts()

(1527103, 7)

90850     20458
25897     12827
4916       3917
32379      3659
32350      3615
32443      3205
87882      2916
63440      2347
64784      2239
63332      2191
63308      2146
14497      2095
86410      2034
63276      1895
103962     1879
64811      1870
57268      1815
63214      1781
31473      1778
36367      1685
94066      1674
100886     1670
36646      1653
22273      1624
31402      1593
47851      1554
101952     1530
31503      1529
28345      1520
63358      1506
          ...
100985        1
10818         1
89709         1
59608         1
66150         1
61016         1
52828         1
67173         1
22734         1
106102        1
2244          1
12864         1
31305         1
10432         1
35415         1
78432         1
84591         1
54876         1
119420        1
121469        1
115326        1
1606          1
17998         1
40533         1
54494         1
63064         1
50396         1
61019         1
60633         1
8188          1
Name: ip, Length: 55772, dtype: int64

In [19]:
c = 'app'
print( test[~test[c].isin(train[c].unique())].shape )
test[~test[c].isin(train[c].unique())][c].value_counts()

(4436, 7)

63     3967
113     142
129     104
147      88
131      83
178      16
439       8
274       7
369       3
454       2
430       2
157       2
449       1
456       1
464       1
511       1
465       1
513       1
459       1
374       1
426       1
462       1
506       1
416       1
Name: app, dtype: int64

In [20]:
c = 'device'
print( test[~test[c].isin(train[c].unique())].shape )
test[~test[c].isin(train[c].unique())][c].value_counts()

(77196, 7)

3       76117
91        571
618        13
2749       11
1687        9
1938        8
1110        8
2578        7
2632        5
2419        5
1892        4
484         4
1613        4
2634        4
1266        4
2744        4
2530        4
1220        4
3011        4
478         4
1566        4
1886        4
1462        3
2103        3
1370        3
1589        3
1138        3
2454        3
2467        3
2845        3
        ...
2589        1
691         1
2270        1
2866        1
2528        1
1888        1
1056        1
2785        1
2657        1
1203        1
2465        1
1375        1
2590        1
2398        1
1715        1
2014        1
2868        1
2229        1
2677        1
959         1
2527        1
2484        1
1949        1
1373        1
2908        1
2332        1
2909        1
2612        1
2781        1
2369        1
Name: device, Length: 324, dtype: int64

In [21]:
c = 'os'
print( test[~test[c].isin(train[c].unique())].shape )
test[~test[c].isin(train[c].unique())][c].value_counts()

(128743, 7)

33     84204
51     44413
247       21
381        4
473        4
481        4
275        4
82         4
526        4
333        4
266        4
582        4
450        4
386        4
502        4
258        3
467        3
344        3
320        3
419        3
448        2
345        2
524        2
556        2
528        2
546        2
538        1
454        1
490        1
521        1
428        1
516        1
581        1
332        1
388        1
515        1
492        1
182        1
449        1
586        1
588        1
460        1
218        1
425        1
589        1
210        1
354        1
415        1
604        1
532        1
598        1
348        1
472        1
600        1
220        1
595        1
Name: os, dtype: int64

In [22]:
c = 'channel'
print( test[~test[c].isin(train[c].unique())].shape )
test[~test[c].isin(train[c].unique())][c].value_counts()

(0, 7)

Series([], Name: channel, dtype: int64)

In [4]:
train.channel.value_counts()

280    15065927
245     8873025
107     8457471
477     7188340
134     5924250
259     5787004
153     5537977
265     5446388
178     5271408
121     4692438
205     4359180
145     3583945
442     3574611
459     3477150
379     3402636
439     2901762
489     2711240
128     2703163
135     2663913
466     2655396
237     2632794
480     2618441
469     2588380
140     2562964
122     2526161
219     2349454
137     2302316
232     2275338
435     2192870
101     2147174
         ...
223         118
225          96
233          61
14           22
471          20
458          16
251          14
248          14
256          13
169          13
162          12
238           9
29            6
473           5
475           3
142           2
476           2
165           2
149           2
470           1
146           1
434           1
422           1
394           1
354           1
227           1
221           1
217           1
172           1
500           1
Name: channel, Length: 202, dtype: int64